* {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*index page starts*/
.index_body {
    display: flex;
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1s ease-in-out;
}

#container {
    display: inline-block;
    justify-items: center;
    margin-top: 200px;
    margin-left: 1050px;
    border: 3px solid white;
    border-radius: 1px;
    padding: 50px;
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#over {
    padding: 10px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid white;
    /* width: 100%;
    height: 100%; */

}

#over {
    color: white;
    outline: none;
}

#over::placeholder {
    color: white;
}

#team1,
#team2 {
    padding: 10px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 92%;
    height: 92%;
    outline: none;
}

#team1::placeholder,
#team2::placeholder {
    color: white;
}

#submit_button {
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    background: transparent;
    padding: 10px;
    transition: 0.5s ease;

}

#submit_button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);

}

/*index page ends*/

.scorecard_body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url('images/ground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #3674B5; */
}

.scorecard_container {
    text-align: center;
    background: #E2F1E7;
    margin-top: 350px;
    margin-left: 110px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.run_buttons {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 350px;
    padding: 15px 30px 25px 30px;
    margin-left: 100px;
    border: 2px solid #E2F1E7;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btns_run {
    padding: 9px 30px;
    margin: 10px;
    margin-right: 10px;
    min-width: 25%;
    text-align: center;
    outline: none;
    background-color: #387478;
    ;
    border: 2px solid #E2F1E7;
    color: white;
    transition: all 0.7s ease;

}

#calculate_head {
    text-align: center;
    color: #E2F1E7;
}

.btns_run:hover {
    background-color: #E2F1E7;
    border: 2px solid #387478;
    ;
    color: black;
    transform: scale(1.2);

}

.btns {
    padding: 10px 120px 10px 90px;
    margin-left: 10px;
    min-width: 93%;
    text-align: center;
    align-content: center;
    outline: none;
    background-color: #387478;
    border: 2px solid #E2F1E7;
    color: white;
    transition: all 0.5s ease;
    margin-top: 5px;
}

#dot {
    margin-bottom: 5px;
}

.btns:hover {
    background-color: #E2F1E7;
    border: 2px solid #E2F1E7;
    color: black;
    transform: scale(1.1);
}

#wide,
#out,
#undo,
#next {
    margin-bottom: 10px;
}